* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* Global */
header {
    text-align: center;
    margin: 5px 0 5px 0;
}

hr{
    margin: 10px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
}

.heading {
    text-align: center;
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.box {
    margin: 10px;
    padding: 10px;
}

/* Home page */
.row {
    padding: 10px 0 10px 0;
}

/* Add player page */

/* Top Box */
.box-row {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.left-box {
    margin: 5px;
}

.right-box {
    margin: 5px;
}

.item {
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
}

.item label {
    padding-right: 5px;
}

.right-box img {
    width: 100%;
}

/* middle boxes */
.box-column {
    display: flex;
    flex-direction: column;

    margin: 0 0 20px 0;
    padding: 0 10px;
}

.stats-box {
    width: 100%;
    margin: 25px 0 40px 0;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-box{
    width: 100%;
 }

.slider input{
   width: 95%;
}

.label-box {
    text-align: center;
}

.box-row2 {
    display: flex;
    justify-content: space-between;
}

.number {
    display: flex;
    justify-content: center;
    text-align: center;
}

.number input {
    width: 50px;
    font-size: 16px;
    text-align: center;
    margin: 0 2px 0 2px;
}

.number button {
    font-size: 20px;
    width: 25px;

}

.notes {
    text-align: center;
}

.notes textarea{
    resize: vertical;
    width: 95%;
}


/* Footer */
footer {
    text-align: center;
    margin: 10px;
}

input[type=range]::-webkit-slider-thumb {

    height: 15px;
    width: 15px;
    border-radius: 5px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
}

#pre-flop-raise {
    overflow: hidden;
    -webkit-appearance: none;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 50%, rgba(0,255,0,1) 100%);
    border-radius: 10px;
    cursor: pointer;
}

#pre-flop-aggression {
    overflow: hidden;
    -webkit-appearance: none;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 51%, rgba(0,255,0,1) 100%);
    border-radius: 10px;
    cursor: pointer;
}
/* linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(242,118,13,1) 50%, rgba(255,0,0,1) 100%);

